@mixin standard($background: var(--color-accent), $color: #fff, $border-radius: 10px){
    background-color: $background;
    color: $color;
    border-radius: $border-radius;
    padding: 1rem 1.5rem;
    display: inline-block;
    text-decoration: none;
    font-size: var(--font-size-1);
}